.footer {
  background-color: $footer-bg;
  font-size: $pr12;
  color: $text-color--light;
  padding-top: $spacer * 2;

  @include media-breakpoint-up(md) {
    font-size: $pr14;
  }

  &__text {
    margin-bottom: $spacer;
  }

  a {
    color: $text-color--light;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      outline: none;
    }
  }
}
