// Some basic padding for all wrappers
body {
  font-family: $primary-font-family;
  font-size: $base-font-size;
  box-sizing: border-box;
  text-align: center;
  background-color: $body-color;

  @include parallax('circle-bg.webp');
}

.section {
  overflow: hidden;
  position: relative;
  padding-bottom: $spacer * 1.5;
  padding-top: $spacer * 1.5;

  @include media-breakpoint-up(md) {
    padding-top: $spacer * 3;
    padding-bottom: $spacer * 1.5;
  }
}
