ul {
  list-style-type: none;
  text-align: left;
  margin-bottom: $spacer * 1.5;

  li {
    margin-bottom: $spacer;
    line-height: 1.35;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      background: url(../images/check-red.png) no-repeat 0  $spacer / 2.5  scroll;
      background-size: 1.1rem;
      width: 100%;
      height: 100%;
      display: inline-block;
      left: - $spacer * 2;
    }
  }
}
