@import "images";

embed,
iframe,
object {
  max-width: 100%;
}

.video {
  margin: 0;
}

.embed_responsive {
  position: relative;
  max-width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;

  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 11;
  }

  .thumbnail {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
  }

  &.loading::before {
    content: 'Loading...';
    top: 0;
    left: 0;
    padding-top: $spacer * 3;
    position: absolute;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 2em;
    background: rgba(18, 18, 17, 0.6);
    cursor: pointer;
    z-index: 10;
  }
}
