$hero-bg: #000;

.hero {
  background-color: $hero-bg;
  font-family: $primary-font-family;
  font-size: $p16;
  padding: $spacer 0;

  @include media-breakpoint-up(md) {
    font-size: $pr23;
    // padding-bottom: $spacer * 4;
  }

  .triangle-down {
    margin: -$spacer * 0.7  auto $spacer * 1.5;

    @include triangle-down( 20px, $light);

    @include media-breakpoint-up(md) {
      display: none;
    }
  }
}
