.cta-footer {
  padding-top: $spacer * 1.5;

  @include media-breakpoint-up(md) {
    padding-top: $spacer * 2.5;
  }

  p {
    margin-bottom: 0;
    padding: 0  $spacer / 2;
  }

  .btn {
    margin-bottom: $spacer * 1.5;
  }
}
