$twocols-video-text: #474747;

.twocols-video {
  // padding: $spacer;
  padding-left: $spacer;
  padding-right: $spacer;
  border-radius: 4px;
  font-size: $pr16;
  color: $twocols-video-text;

  @include media-breakpoint-up(md) {
    font-size: $pr18;
    padding: $spacer * 2  $spacer;
  }

  &__title {
    margin-top: 0;
    font-size: $pr18;
    text-align: left;

    @include media-breakpoint-up(md) {
      font-size: $pr20;
      margin-top: $spacer;
    }

    @include media-breakpoint-up(lg) {
      margin-top: 0;
    }
  }

  .btn-bullets {
    @include hide-on-mobile(lg);
  }

  .btn-video {
    margin-top: $spacer;

    @include hide-on-desktop(lg);
  }
}
