p {
  margin-top: 0;
  margin-bottom: $spacer * 1.5;
  line-height: 1.4;
}

h1 {
  font-family: $base-font-family;
  font-weight: 900;
  font-size: $h1-font-size-mobile;

  @include media-breakpoint-up(md) {
    font-size: $h1-font-size;
  }
}

h2 {
  font-size: $h2-font-size-mobile;

  @include media-breakpoint-up(md) {
    font-size: $h2-font-size;
  }
}

h3 {
  font-size: $h3-font-size-mobile;

  @include media-breakpoint-up(md) {
    font-size: $h3-font-size;
  }
}

h4 {
  font-size: $h4-font-size-mobile;

  @include media-breakpoint-up(md) {
    font-size: $h4-font-size;
  }
}

h5 {
  font-size: $h5-font-size-mobile;

  @include media-breakpoint-up(md) {
    font-size: $h5-font-size;
  }
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: $headings-margin-top;
  font-family: $primary-font-family;

  span {
    display: block;
  }
}

.section-title {
  color: $section-title-color;
  font-size: $pr30;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: $spacer;

  @include media-breakpoint-up(md) {
    font-size: $pr50;
    margin-bottom: $spacer * 2;
    line-height: 1.6;
  }
}

.intro-title {
  color: $section-title-color;
  font-size: $pr30;
  line-height: 1;
  text-align: center;
  margin-bottom: $spacer;
  letter-spacing: -1px;
  font-weight: 900;

  @include media-breakpoint-up(md) {
    font-size: $pr64;
    margin-bottom: $spacer * 2;
  }
}

.intro-subtitle {
  font-size: $pr23;
  font-weight: 400;
  color: $intro-subtitle-color;
  margin-top: 0;
}

.lead {
  font-family: $primary-font-family;
  margin-top: 0;
  line-height: normal;

  span {
    display: block;
    font-style: italic;

    @include media-breakpoint-up(md) {
      font-style: normal;
    }
  }

  @include media-breakpoint-up(md) {
    font-size: $pr20;
  }
}

.disclaimer {
  font-size: $pr12;

  @include media-breakpoint-up(md) {
    font-size: $pr14;
    line-height: 1.4;
  }
}
